/* Asegúrate de que el contenedor ocupe toda la pantalla */
.herramientas-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupa la altura total de la pantalla */
  padding: 0; /* Elimina padding adicional si no es necesario */
  margin: 0; /* Elimina cualquier margen adicional */
  background-color: rgb(105, 105, 189);
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  box-sizing: border-box; /* Incluye padding y border en las dimensiones */
}

.herramientas-grid {
  width: 100%; /* Asegura que el grid ocupe todo el ancho disponible */
  max-width: 1200px; /* Puedes establecer un valor máximo si deseas limitar el ancho */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
}


.herramientas-titulo {
  font-size: 2.5rem; /* Título más grande */
  color: #dae4ee;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 600;
}



.herramienta-boton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem; /* Padding más grande */
  height: 250px; /* Altura fija para todos los contenedores */
  background-color: #f8f9fa;
  border: 2px solid #e9ecef;
  border-radius: 15px; /* Bordes más redondeados */
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
}

.herramienta-boton:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #f1f3f5;
}

.herramienta-icono {
  font-size: 4rem; /* Iconos más grandes */
  margin-bottom: 1rem;
}

.herramienta-nombre {
  font-size: 1.2rem; /* Texto más grande */
  font-weight: 600;
  color: #343a40;
  text-align: center;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .herramientas-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .herramienta-boton {
    height: 200px; /* Ajuste para móviles */
  }
}
