.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: #f6f6e2;
  }
  
  .logo {
    width: 280px;
    height: 195px;
  }
  
  .imagen {
    width: 280px;
    height: 200px;
    margin-top: -10px;
  }
  
  .tituloContainer {
    margin-top: 20px;
  }
  
  .titulo {
    font-size: 31px;
    color: #050444;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .imagenes {
    margin-top: 10px;
  }
  
  .buttonText {
    font-size: 19px;
    background-color: #1c06f7;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
  }
  
  .menuIcon {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 40px;
    z-index: 1;
    cursor: pointer;
  }
  